.about{
padding-top: 40px;
padding-bottom: 40px;

}


.story{
    padding-left: 40px;
    padding-left: 40px;
    margin-right: 8rem;
}

.story h1{
    padding-top: .1rem;
    padding-bottom: 3rem;
}

.story p{
    padding-bottom: 2rem;
    
}

.home-nav{
    padding-left: 40px;
}

.sid{
     width: 30rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 5px;

}

.int{
display: flex;
justify-content: space-between;
align-items: center;
}

.into{
  display: flex;
  flex-direction: row;

}

.into a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.572);
    font-weight: 400;
    font-size: 15px;
}

.toknow{
    /* padding-top: 80px; */
    display: flex;
    justify-content: space-between;
 padding: 6rem;
padding-left: 40px;
padding-right: 40px;  
    font-size: 12px;
    flex-wrap: wrap;
   
}

.toknow h3{
    padding-top: 10px;
    font-size: 15px;
    font-weight: 600;
  
    
}

.toknow div{
    border: solid rgba(128, 128, 128, 0.575);
    width: 300px;
    height: 150px;
    background-color: rgb(205, 198, 198);
    text-align: center;
    padding: 10px 10px;
}
.toknow img{
    width: 50px;
    align-self: center;   
}

.toknow div:hover{
    background-color: rgba(235, 39, 72, 0.89);
}

@media screen and (max-width: 800px){
.int{
    
    flex-direction: column-reverse;
    
}
.story{
    width: 100%;
}
.sid{
    padding-top: 20px;
    width: 20rem;
    height: 20rem;
 }  
}

.customer{
     display: flex;
     align-items: center;
     justify-self: center;
     gap: 1rem;
     padding-top: 80px;    
     padding-left: 5rem;
   width: 100%;

}

.custom{
   width: 69%;
   object-fit: cover;
   background-color: #F5F5F5;
}


.app{
    width: 30px;
    
}


/* third part */

.free{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    font-size: 12px;
    
    align-items: center;
}

.free div{
    display: flex;
    flex-direction: column;
  align-items: center;
  text-align: center;
    gap: 10px;
}
.free h3{ 
    font-size: 14px;
}
.free img{
    width: 50px;
}



@media (max-width: 320px) {
    .toknow{
        gap: 20px;
      flex-wrap: wrap;
      flex-direction: column;
      padding-left: 1rem;
    }

    .customer{
        flex-direction: column;
        padding-left: 1rem;
        width: 100%;
    }

    .free{
        flex-direction: column;
        gap: 40px;
        padding-left: 0;
    }

    .home-nav{
        padding-left: 0;
        
    }
   
   .int{
    display: flex;
    flex-direction: column-reverse;
   }

   .story{
    padding-left: 0;
    padding-left: 0;
    margin-right: 0;
}

   .story h1{
            padding-top: 20px;
            padding-left: 4px;

   }

   .story p{
     padding-left: 5px;
     padding-bottom: 0;
   }

   .sid{
    width: 15rem;
    height: auto;
   }
    
}



@media (max-width: 437px) {
     .toknow{
        gap: 20px;
        flex-wrap: wrap;
    }

    .customer{
        flex-direction: column;
           width: 100%;

    }

    .free{
        flex-direction: column;
        gap: 40px;
        padding-left: 0;
    }

    .home-nav{
        padding-left: 0;
        width: 100%;
        
    }
   
   .int{
    display: flex;
    padding: 1rem 1rem;
    flex-direction: column-reverse;
   }

   .story h1{
            padding-top: 20px;
            padding-left: 4px;

   }

   .story p{
     padding-left: 5px;
     padding-bottom: 0;
   }

   .sid{
    padding-top: 20px;
    width: 100%;
    height: auto;
    

}

  
}


@media (max-width: 1064px) {
      .toknow{
        gap: 20px;
        flex-wrap: wrap;
    }


    
}

/* @media (max-width: 941px) {
 .customer{
        flex-direction: column;
    }

    .free{
        flex-direction: column;
        gap: 40px;
    }

    

   .sid{

    width: 20rem;
    height: 20rem;
  
}
} */

@media (max-width: 742px) {

    .customer{
        flex-direction: column;
    }

    .free{
        flex-direction: column;
        gap: 40px;
    }

    

   
}