.about{
padding-top: 40px;
padding-bottom: 40px;

}


.story{
    padding-left: 40px;
    padding-left: 40px;
    margin-right: 8rem;
}

.story h1{
    padding-top: .1rem;
    padding-bottom: 3rem;
}

.story p{
    padding-bottom: 2rem;
    
}

.home-nav{
    padding-left: 40px;
}

.sid{
     width: 30rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 5px;

}

.int{
display: flex;
justify-content: space-between;
align-items: center;
}

.into{
  display: flex;
  flex-direction: row;

}

.into a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.572);
    font-weight: 400;
    font-size: 15px;
}

.toknow{
    /* padding-top: 80px; */
    display: flex;
    justify-content: space-between;
 padding: 6rem;
padding-left: 40px;
padding-right: 40px;  
    font-size: 12px;
    flex-wrap: wrap;
   
}

.toknow h3{
    padding-top: 10px;
    font-size: 15px;
    font-weight: 600;
  
    
}

.toknow div{
    border: solid rgba(128, 128, 128, 0.575);
    width: 300px;
    height: 150px;
    background-color: rgb(205, 198, 198);
    text-align: center;
    padding: 10px 10px;
}
.toknow img{
    width: 50px;
    align-self: center;   
}

.toknow div:hover{
    background-color: rgba(235, 39, 72, 0.89);
}

@media screen and (max-width: 800px){
.int{
    display: block;
    
}
.story{
    width: 90%;
}
.sid{
    padding-top: 20px;
  width: 90%;
   padding-left: 40px;
}
    
}

.customer{
     display: flex;
     align-items: center;
     justify-self: center;
     gap: 15rem;
     padding-top: 80px;    
     padding-left: 5rem;
    

}

.custom{
   width: 69%;
   object-fit: cover;
   background-color: #F5F5F5;
}


.app{
    width: 30px;
    
}


/* third part */

.free{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    font-size: 12px;
    
    align-items: center;
}

.free div{
    display: flex;
    flex-direction: column;
  align-items: center;
  text-align: center;
    gap: 10px;
}
.free h3{ 
    font-size: 14px;
}
.free img{
    width: 50px;
}